/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Sarah Duong
   Date: June 26th, 2020  

   Filename: cg_validate.css

*/


/* Validation Styles */

